// css variabels start
:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}
// css variabels end

/* Start Css Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
/* End Css Reset */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}
// glopal classes start
.button {
  background-color: var(--color-soft-blue);
  border-radius: var(--default-radius);
  padding: 1.2rem 2.4rem;
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(40, 30, 30, 0.1);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0056b3;
  }

  &-secondary {
    background-color: var(--color-off-white);
    color: var(--color-very-dark-blue);

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &--disabled {
    background-color: var(--color-grayish-blue);
    cursor: not-allowed;
    user-select: none;
    &:hover {
      background-color: var(--color-grayish-blue);
    }
  }
}
// glopal classes end

/* container */
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  gap: calc(var(--default-padding) * 4);

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) * 2);
  }
}

// fixed scroll button Start
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--color-soft-blue);
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 2;

  @media (min-width: 600px) and (max-width: 900px) {
    display: none;
  }

  @media (max-width: 600px) {
    width: 35px;
    height: 35px;
    right: 10px;
  }

  &:hover {
    background-color: #0056b3;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
  animation: bounce 0.6s infinite alternate;

  @media (min-width: 600px) and (max-width: 900px) {
    display: none;
  }

  @media (max-width: 600px) {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid white;
  }
}

#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

// fixed scroll button End

//Header Start
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--default-padding);

  @media (max-width: 600px) {
    font-size: 1.4rem;
  }
}

.logo-content {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;

  &__logo {
    width: 4rem;
    max-width: 100%;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: var(--default-padding);
  font-weight: 500;

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) / 2);
  }

  &__link {
    color: var(--color-very-dark-blue);
    transition: color var(--timing-animation) ease-in-out;

    &:hover {
      color: #0056b3;
    }
  }
}

//Header Start

//Section Start
.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 2);

  @media (max-width: 600px) {
    flex-direction: column;
    gap: var(--default-padding);
  }

  &--one-column {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: calc(var(--default-padding) / 2);
  }

  &:nth-of-type(1) &__title {
    font-size: 4.2rem;
    font-weight: 700;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.4rem;
    color: var(--color-grayish-blue);

    .section--one-column & {
      max-width: 50rem;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    gap: var(--default-padding);
    margin-top: var(--default-padding);
  }

  &__button:not(.card__button) {
    @media (max-width: 600px) {
      flex: 1;
      text-align: center;
    }
  }

  &__imageContent {
    display: flex;
    flex: 1;

    @media (max-width: 600px) {
      order: -1;
    }
  }

  &__image {
    max-width: 100%;
  }
}

//Section End

//Download Start
.cards {
  display: flex;
  gap: var(--default-padding);
  width: 100%;
  margin-top: calc(var(--default-padding) * 2);
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: var(--default-radius);
  width: 25rem;
  height: 26rem;
  padding: calc(var(--default-padding) * 2) var(--default-padding)
    var(--default-padding);

  @media (max-width: 600px) {
    width: 100%;
  }

  &__image {
    width: 6rem;
    max-width: 100%;
    margin-bottom: calc(var(--default-padding) / 2);
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__button {
    position: relative;
    align-self: stretch;
    text-align: center;
    margin-top: auto;

    &::before {
      content: "";
      position: absolute;
      background: url("../images/bg-dots.svg") repeat-x;
      background-size: contain;
      height: 0.3rem;
      left: 0;
      right: 0;
      top: calc(var(--default-padding) * -1.4);
      left: calc(var(--default-padding) * -1);
      right: calc(var(--default-padding) * -1);
    }
  }
}

//Download End

//FAQ Section Start
.faq {
  max-width: 50rem;
  margin-top: calc(var(--default-padding) * 1.5);
  border-top: 1px solid var(--color-grayish-blue);
  border-bottom: 1px solid var(--color-grayish-blue);

  &__row {
    position: relative;
    padding: var(--default-padding) 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--color-grayish-blue);
    }
  }
  &__arrow {
    position: absolute;
    width: 1.2rem;
    max-width: 100%;
    right: 0;
    top: calc(var(--default-padding) + 0.6rem);
    transition: transform var(--timing-animation) ease-in-out;
  }

  &__input {
    display: none;

    &:checked ~ .faq__answer {
      opacity: 1;
      max-height: 30rem;
      padding-top: var(--default-padding);
    }

    &:checked ~ .faq__arrow {
      transform: rotate(180deg);
    }
  }

  &__question {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
  }

  &__answer {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0;
    transition: all var(--timing-animation) ease-in-out;
    max-height: 0.1rem;
    overflow: hidden;
  }
}

//FAQ Section End

//Footer Section Start
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: var(--default-padding);
  font-size: 1.4rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-very-dark-blue);
    z-index: -1;
  }

  &__left {
    margin-right: auto;

    @media (max-width: 600px) {
      margin-right: 0;
    }
  }
}

//Footer Section End
